<div class="container page-header hidden-xs">
  <div class="logo"></div>
  <h1 class="text-success">Googolino <small >O seu consultor de compras Online</small></h1>

  <%
    # não faz sentido este partial esta em layouts pq ele esta dentro desta view
    # melhor maneira: ou move ele para /home/views/home ou mova este conteudo para layouts/application
    # a segunda opção faz mais sentido se você ira utilizar este bloco de conteudo em outras telas da aplicação
    render 'layouts/form'
  %>



</div>

<div class="container">

  <% @crawl['products'].each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag product['image'], class: 'col-lg-5 product-image img img-responsive' %>
        <div class="caption">
          <p class="product-description"><%= product['title'] %></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div><!--CONTAINER-->
