<div class="container page-header hidden-xs">
  <div class="logo"></div>
  <h1 class="text-success">Googolino <small >O seu consultor de compras Online</small></h1>

  <%= render 'layouts/form' %>

</div>

<div id="ng-app" ng-app ng-controller="PostsCtrlAjax">

  <% @crawl['products'].each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag product['image'], class: 'col-lg-5 product-image img img-responsive' %>
        <div class="caption">
          <p class="product-description"><%= product['title'] %></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">R$</a>
            <%= link_to 'Ver', product['href'], class:'btn btn-default' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div><!--CONTAINER-->


