<div class="container page-header hidden-xs">
  <div class="logo"></div>
  <h1 class="text-success">Googolino <small >O seu consultor de compras Online</small></h1>
  <%= render 'layouts/form' %>
</div>

<div class="container">

  <% @titulo.each do |t| %>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%#= image['src'] %>" class="col-lg-5 img img-responsive">
        <div class="caption">
          <p class=""><%= t.text %></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Button</a>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div><!--CONTAINER-->
