/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.icon-search {
  position: relative;
  top: -25px;
  left: 80px;
}
.form-control {
  padding: 6px 25px 6px 12px !important;
  width: 145% !important;

}
.logo {
  background: url("logo.png") no-repeat scroll -15px 0 transparent;
  float: left;
  height: 80px;
  width: 110px;
}
h1 {
  padding-top: 20px;
}

