<form action="/" >
  <div class="form-group pull-left">
    <input type="text" name="produto" placeholder='Produto' class='form-control' ng-model='produto' />
    <i class="icon-search pull-right"></i>
  </div>
</form>

<div class="lead text-center ng-binding">A sua pesquisa sobre: {{produto}} </div>

